*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #4a4848;
    margin-top: 50%;
    width :600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 10px 30px 10px;
    border-radius: 10px;
}
button{
        border: none;
    padding: 8px;
    border-radius: 8px;
    margin-top: 8px;
    background-color: #a468da;
}
input{
    
    padding: 8px;
    border-radius: 10px;
    margin-top: 8px;
}
