*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0d0d0d;
    color: #fff;
    font-family: 'Arial Narrow',;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color: #1a1919;
    padding: 10px;
    width: 400px;
    margin-top: 50%;
    border-radius: 10px;
}
#checkout-btn{
    border: none;
    padding: 8px;
    border-radius: 8px;
    margin-top: 8px;
    background-color: #7223b6;
}
#cart-item{
    background-color: #555151;
    padding: 15px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.total{
    background-color: #555151;
    padding: 5px;
    border-radius: 5px;
}
#product-list{
    margin: 4px;
}
#product-list {
    border: none;
    padding: 8px;
    border-radius: 8px;
    margin-top: 8px;
    background-color: #443d49;

}