*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #121212;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
    background-color: #413d3d;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}
h1{
    margin-bottom: 10px;
    font-size: 25px;
}
.input-container{
    display: flex;
    gap: 10px;
}
input[type="text"]{
    width: 70%;
    padding: 10px;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #fff;
    outline: none;
}
button{
    width: 25%;
    background-color: #4783d1;
    border: none;
    border-radius: 5px;
    transition:background-color 0.3s;
}
button:hover{
    background-color: #385fa9;
    color: #fff;
}
.hidden{
    display: none;
}
#error-message{
    color: #c20808;

}
#weather-info{
    margin-top: 20px;
    color: #23071c;
    background-color: #aeacac;
    border-radius: 10px;
    padding: 5px;
}